In [3]:
#importing pandas, the dataset, refining it to the columns we will concievably deal with, and displaying the first values.
import pandas as pd

df = pd.read_csv("/Users/Liam/Desktop/Transportation/NYC General Transport/NYC-vehicle-collisions.csv")
df = df[["DATE", "TIME", "BOROUGH", "ZIP CODE", "PERSONS INJURED", "PERSONS KILLED","VEHICLE 1 TYPE","VEHICLE 1 FACTOR", "VEHICLE 2 TYPE","VEHICLE 2 FACTOR","VEHICLE 3 TYPE","VEHICLE 3 FACTOR","VEHICLE 4 TYPE","VEHICLE 4 FACTOR","VEHICLE 5 TYPE","VEHICLE 5 FACTOR"]]
df.head(5)

,DATE,TIME,BOROUGH,ZIP CODE,PERSONS INJURED,PERSONS KILLED,VEHICLE 1 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 TYPE,VEHICLE 2 FACTOR,VEHICLE 3 TYPE,VEHICLE 3 FACTOR,VEHICLE 4 TYPE,VEHICLE 4 FACTOR,VEHICLE 5 TYPE,VEHICLE 5 FACTOR
0,01/01/2015,0:20,QUEENS,11358.0,0,0,SPORT UTILITY/STATION WAGON,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2015,0:20,NaN,NaN,1,0,PASSENGER VEHICLE,ANIMALS ACTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2015,0:21,BROOKLYN,11205.0,0,0,PASSENGER VEHICLE,FATIGUED/DROWSY,UNKNOWN,UNSPECIFIED,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2015,0:30,BROOKLYN,11213.0,0,0,BUS,LOST CONSCIOUSNESS,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2015,0:33,NaN,NaN,0,0,UNKNOWN,UNSPECIFIED,PASSENGER VEHICLE,UNSPECIFIED,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#imports the zip code -> neighborhood spreadsheet and creates a dictionary out of it
ZipsDF = pd.read_csv("/Users/Liam/Desktop/Transportation/NYC General Transport/NYC-ZIP-NEIGHBORHOODS.csv")
ZipsDict = ZipsDF.set_index('ZIP CODES')['NEIGHBORHOOD'].to_dict()

In [11]:
#have our dictionary take the input of zip code and return
try:
    x = int(input("Please enter a zip: "))
    print(ZipsDict[x])
except KeyError:
    print("you fucking cuck that's a zip code in our dictionary")

Please enter a zip: 22222
you fucking cuck that's a zip code in our dictionary